**/target/
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.apt_generated/
**/.idea/
**/.vscode/
**/*.iml
**/*.iws
**/*.ipr
**/build/
**/dist/
**/nbproject/private/
**/nbbuild/
**/nbdist/
.git/
.gitignore
HELP.md
